<div class="container">
  <div>
    <h1>Heroes Of DOTA 2</h1>

    <div
      *ngIf="heroes$ | async as heroes; else loading"
      class="cards">
      <div
        class="cardHero"
        *ngFor="let hero of heroes">
        <img
          [routerLink]="['/counterpick', hero.id]"
          src="{{hero.icon}}" alt="{{hero.icon}}"
        >
        <p [appHeroesCard]="'bold'" color="blueviolet" style="text-align: center">{{hero.name}}</p>
      </div>
    </div>

<!--  </div>-->
<!--  <div class="cards" >-->
<!--    <div class="cardHero" *ngFor="let nHero of heroesDataService.newHeroesData"-->
<!--    >-->
<!--        <img-->
<!--          [routerLink]="['/counterpick', nHero.id]"-->
<!--          src="{{nHero.icon}}" alt="{{nHero.name}}"-->
<!--        >-->
<!--        <p [appHeroesCard]="'bold'" color="blueviolet" style="text-align: center">{{nHero.name}}</p>-->
<!--    </div>-->
<!--  </div>-->
</div>

<ng-template #loading>
  <p class="text-center">loading...</p>
</ng-template>
<hr style="margin: 2rem auto">

<app-post-hero>
</app-post-hero>

