<div class="container">
  <input type="text" placeholder="heroCard..." [(ngModel)]="iconHero" #heroCard>
  <br>
  <input type="text" placeholder="heroName..." [(ngModel)]="nameHero">
  <br>
  <button class="btn btn-success" (click)="addPostHero()">Add Card</button>
  <button
    class="btn btn-dark" style="margin: 0 1.3rem"
    (click)="focusHeroCard()"
  >Focus heroCard</button>
  <button
    class="btn btn-white"
    (click)="goToLogin()"
  >Back to login</button>
</div>


<!--value="https://www.dotabuff.com/assets/heroes/centaur-warrunner-23562ed3be99ee78f0a6f2d2e3ac4f9962d3070907bf72d44dee87b4e386d062.jpg"-->
